<!-- PLEASE READ TO UNDERSTAND THE LAYOUT --> <!--
1. The form is divided in to 3 sections altogether.
2. Each section represents a Step where each step represents different types of information required
   to fill out the form. Step 1: Personal Information, Step 2: Work Information, Step 3: Other Information
3. Each Step is followed by multiple inputs. 
4. The layout of the entire form is based upon Bootstrap's Grid system. 
5. Angular's directives are used to manage the functionality of each field.
-->
<!-- start of the form -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<!-- Step 1 and Step 3 Row -->
	<div class="row pleft " id="firstStepRow">
		<!-- Step 1 Column -->
		<div class="col" id="step1">
			<!-- Step 1 Header: Personal Information -->
			<div class="step-headers" style="margin-top: 2vh; margin-bottom: 5vh;">STEP 1. PERSONAL INFORMATION</div>
			<!-- First Name, Middle Initial, Last Name: Row -->
			<div class="row form-group" id="nameGroup">
				<!-- First Name -->
				<div class="col">
					<input type="text" class="form-control" id="firstName" placeholder="Enter First Name" formControlName = "firstName" [ngClass] = "{'is-invalid':f.firstName.errors}">
					<div *ngIf="f.firstName.errors" class="invalid-feedback">
						<div *ngIf="f.firstName.errors.required">First Name is required</div>
					</div>
				</div>
				<!-- Middle Initial -->
				<div class="col">
					<input type="text" class="form-control" id="middleInitial" placeholder="Enter Middle Initial" formControlName = "middleInitial">
				</div>
				<!-- Last Name -->
				<div class="col">
					<input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" formControlName = "lastName" [ngClass] = "{'is-invalid':f.firstName.errors}">
					<div *ngIf="f.firstName.errors" class="invalid-feedback">
						<div *ngIf="f.firstName.errors.required">Last Name is required</div>
					</div>
				</div>
			</div>
			<!-- Email Address: Row -->
			<div class="row form-group" id="emailGroup">
				<!-- Email Address field -->
				<div class="col">
					<input type="text" class="form-control" id="emailAddress" placeholder="Enter Personal Email Address" formControlName = "emailAddress" [ngClass]="{'is-invalid': f.emailAddress.errors}">
					<!-- Warning displayed if email address is not valid/not entered -->  
					<div *ngIf="f.emailAddress.errors" class="invalid-feedback">
						<!-- Warning: email address isn't entered -->
						<div *ngIf="f.emailAddress.errors.required">Email is required</div>
						<!-- Warning: email address entereted but isn't in the correct format-->
						<div *ngIf="f.emailAddress.errors.email">Email is invalid</div>
					</div>
				</div>
			</div>
			<!-- Address Api: Row  -->
			<div class="row form-group" id="addressGroup">
				<div class="col">
					<!-- (Imported a CDN in index.html, check 'placesAutocomplete' variable in application-form.component.ts) -->
					<input type="search" class="form-control" id="address" placeholder="Enter Current Address" formControlName="address">
				</div>
			</div>
			<!-- Date of Birth and Gender: Row -->
			<div class="row form-group" id="birthGender">
				<!-- Gender: Column -->
				<div class="col">
					<!-- check Gender array and changeGender function in application-form.component.ts -->
					<select class="custom-select" (change)="changeGender($event)" formControlName="genderName">
						<option id="gender" value="" disabled>Gender</option>
						<option *ngFor="let gender of Gender" [ngValue]="gender">{{gender}}</option></select>
				</div>
				<!-- Date of Birth: Column -->
				<div class="col">
					<!-- Date of Birth text: Column -->
					<input class="form-control" disabled type="text" placeholder="Date of Birth" style="text-align: center;">
				</div>
				<!-- Date of Birth input: Column -->
				<div class="col">
					<input class="form-control" type="date" id="DOB" formControlName="dateOfBirth"
					[ngClass] = "{'is-invalid':f.dateOfBirth.errors}">
					<div *ngIf="f.dateOfBirth.errors" class="invalid-feedback">
						<div *ngIf="f.dateOfBirth.errors.required">DOB is required</div>
					</div>
				</div>
			</div>
			<!-- Citizenships: Row -->
			<div class="row form-group" id="Citizenships">
				<!-- Primary Citizenship/Country you're born in -->
				<div class="col">
					<input type="text" class="form-control" placeholder="Enter Primary Citizenship" formControlName="primaryCitizenship" id="primaryCitizenship">
				</div>
				<!-- Any other citizenships -->
				<div class="col">
					<div class="col">
						<input type="text" class="form-control" placeholder="Enter Other Citizenships" formControlName="otherCitizenships" id="otherCitizenships">
					</div>
				</div>
			</div>
		</div>
		<!-- Step 2 Column -->
		<div class="col id="step2>
			<!-- Step 3 Column -->
			<div class="step-headers" style="margin-top: 2vh; margin-bottom: 5vh;">STEP 3. OTHER INFORMATION</div>
			<!-- Annual Salary, Sole Earner: Row -->
			<div class="row form-group" id="annualSalaryGroup" style="margin-top:0.5vh;">
				<!-- Annual Salary: Column -->
				<div class="col">
					<!-- check Income array and changeIncome function in application-form.component.ts -->
					<select class="custom-select" (change)="changeIncome($event)" formControlName="incomeSelect" [ngClass] = "{'is-invalid':f.incomeSelect.errors}">
						<div *ngIf="f.incomeSelect.errors" class="invalid-feedback">
							<div *ngIf="f.incomeSelect.errors.required">Selection is required</div>
						</div>
						<option id="income" value="" disabled>Select your US Income</option>
						<option *ngFor="let income of Income" [ngValue]="income">{{income}}</option>
					</select>
				</div>
				<!-- Sole Earner: Column -->
				<div class="col" style="padding-top: 1vh;">
					<!-- Check box -->
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="" formControlName="soleEarner" id="soleEarner">  Are you a sole earner in your family?
						</label>
					</div>
				</div>
			</div>
			<!-- Other Income, Federal Taxes: Row -->
			<div class="row form-group" id="otherIncomeGroup">
				<!-- Other Income: Column -->
				<div class="col">
					<input type="number" class="form-control" placeholder="Any other income earned outside US" formControlName="otherIncome" id="otherIncome">
				</div>
				<!-- Other Income: Column -->
				<div class="col">
					<input type="number" class="form-control" placeholder="Fedral taxes paid this year" formControlName="taxes" id="taxes">
				</div>
			</div>
			<!-- Work Status and Total Number of Dependants: Row -->
			<div class="row form-group" id="currentJobStatusGroup">
				<!-- Work Status: Column -->
				<div class="col">
					<!-- check JobStatus array and changeJobStatus function in application-form.component.ts -->
					<select class="custom-select" (change)="changeJobStatus($event)" formControlName="jobStatus" [ngClass] = "{'is-invalid':f.jobStatus.errors}">
						<div *ngIf="f.jobStatus.errors" class="invalid-feedback">
							<div *ngIf="f.jobStatus.errors.required">Selection is required</div>
						</div>
						<option id="jobsStatus" value="" disabled>Are you employed?</option>
						<option *ngFor="let jobStatus of JobStatus" [ngValue]="jobStatus">{{jobStatus}}</option>
					</select>
				</div>
				<!-- Dependants: Column -->
				<div class="col">
					<input type="number" class="form-control" placeholder="Number of dependants" formControlName="dependants" id="dependants" style="margin-top: -0.05vh;">
				</div>
			</div>
			<!-- Virtual Currency: Row -->
			<div class="row form-group" id="virtualCurrencyGroup">
				<div class="col" style="padding-top: 1vh;">
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="" formControlName="virtualCurrency" id="virtualCurrency">  At any time during 2019, did you receive, sell, send, exchange, or otherwise acquire any financial interest in any virtual currency? 
						</label>
					</div>
				</div>
			</div>
			<!-- SSN: Row -->
			<div class="row form-group" id="SSNGroup">
				<!-- SSN: Column -->
				<div class="col-6">
					<input type="text" class="form-control" id="ssNumber" placeholder="Enter Your SSN" formControlName="ssNumber">
				</div>
			</div>
		</div>
	</div>
	<!-- Step 2 Row -->
	<div class="row pleft" id="secondStepRow">
		<!-- Step 2 Column -->
		<div class="col" id="step3" style="max-width: 50vw;">
			<!-- Step 2 Header: Work Information -->
			<div class="step-headers" style="margin-top: 2vh; margin-bottom: 5vh;">STEP 2. WORK INFORMATION</div>
			<!-- Compnay Name Group: Row -->
			<div class="row form-group" id="companyNameGroup">
				<!-- Company Name: Column -->
				<div class="col">
					<input type="text" class="form-control" id="companyName" placeholder="Enter Your Company Name" formControlName = "companyName">
				</div>
				<!-- Job Title: Column -->
				<div class="col">
					<input type="text" class="form-control" id="jobTitle" placeholder="Enter Your Job Title" formControlName = "jobTitle">
				</div>
			</div>
			<!-- Work Address API: Row -->
			<div class="row form-group" id="workAddressGroup">
				<div class="col">
					<!-- (Imported a CDN in index.html, check 'placesAutocomplete_work' variable in application-form.component.ts) -->
					<input type="search" class="form-control" id="workAddress" placeholder="Enter Work Address" formControlName="workAddress">
				</div>
			</div>
			<!-- Work Number Group: Row -->
			<div class="row form-group" id="workNumberGroup">
				<div class="col">
					<!--  Mobile Number: Column -->
					<input type="text" class="form-control" id="phoneNumber" placeholder="Enter Your Mobile Number" formControlName="phoneNumber" [ngClass] = "{'is-invalid':f.phoneNumber.errors}">
					<div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
						<div *ngIf="f.phoneNumber.errors.required">Number is required</div>
					</div>
				</div>
				<!--  Work Number: Column -->
				<div class="col">
					<input type="text" class="form-control" id="workNumber" placeholder="Enter Your Work Number" formControlName="workNumber">
				</div>
			</div>
		</div>
	</div>
<!-- Submit Button Row -->
<div class="row pleft">
	<div class="col">
		<button id="submitButton" class="col-2 btn btn-block btn-info" type="submit" [disabled]="!profileForm.valid">Submit</button>
	</div>
</div>
</form>